body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:url(../image/bg.jfif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
}
 
.heading h1{
    text-align: center;
    padding-left: 20px;
    font-family: tahoma;
    color:red;
}


 
.img-content{
    text-align: center;
}
 
.img-content img{
    border-radius: 50%;
    border: 2px solid #fff;
    margin-top: 20px;
}

.img-content img:hover{
    border: 2px solid #000;
}

.headline{
    text-align: center;
}

.headline h2{
    cursor: pointer;
    font-size: 20px;
    color: blue;
    font-family: Tahoma;   
}

.headline p{
    cursor: pointer;
    font-size: 30px;
    color:blue;
    font-family: algerian;
    background-color: cornsilk;
    display:inline;
}

.navbar{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.navbar a{
    text-decoration: none;
    color:#fff;
    font-size: 25px;
    font-family: tahoma;
    margin: 30px;
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.3s;
    background-color: black;
}

a.active{
    background-color: white;
    color: black;
}

.navbar a:hover{
    background-color: white;
    color: black;
    width: 100%;
}

.a{
    width: 85%;
}
.b{
    width: 85%;
}
.c{
    width: 85%;
}
.d{
    width: 85%;
}


.footer{
    text-align: center;
    margin-bottom: 100px;
    margin: 0;
    padding: 0;
}

.footer a{
    text-decoration:#fff;
    font-size: 25px;
    margin-right: 20px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    background:#000;
    color:#fff;
    margin: 10px;
    border-right:50%;
    justify-content: center;
    align-items: center;
}