body{
    padding: 0;
    margin: 0;
    background-image: url(../image/aboutbg.jfif);
}



.head h3{
    color: crimson;
    background-color: ghostwhite;
    padding-left: 10px;
    padding-right: 10px;
}

h2{
    color: purple;
    text-align: center;
    background-color: burlywood;
    margin-top: 100px;
}
.button{
    margin:20px;
    width: 80px;
    height: 5vh;
    color:white;
    font-size: 15px;
    font-family: initial;
    background-color:black;
    border-radius: 20px;
    border: 1px solid black;
}