body{
    padding: 0;
    margin: 0;
    background-color: slategrey;
    background-image: url(../image/aboutbg.jfif);
}



.head h3{
    color: crimson;
    background-color: ghostwhite;
    padding-left: 10px;
    padding-right: 10px;
}

h2{
    color: purple;
    text-align: center;
    margin-top: 100px;
    background-color: burlywood;
    margin-top: 10px;
}