body{
    padding: 0;
    margin: 0;
    background-image: url(../image/aboutbg.jfif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}



.head h3{
    color: black;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
}

h2{
    color: black;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 100px;
}
.button{
    margin:20px;
    width: 80px;
    height: 5vh;
    color:white;
    font-size: 15px;
    font-family: initial;
    background-color:black;
    border-radius: 20px;
    border: 1px solid black;
}














