body {
  margin: 0;
  padding: 0;
  background-color: rgb(236, 220, 220);
}

.head h1 {
  text-align: center;
  color: darkviolet;
}

.Hobby h2 {
  color: black;
  padding-left: 20px;
}

.Hobby h3 {
  color: rgb(149, 86, 209);
  padding-left: 30px;
}
.button {
  margin: 20px;
  width: 80px;
  height: 5vh;
  color: white;
  font-size: 15px;
  font-family: initial;
  background-color: black;
  border-radius: 20px;
  border: 1px solid black;
}
