body {
  padding: 0;
  margin: 0;
  background-color: rgb(221, 185, 55);
}

h1 {
  color: red;
  text-align: center;
}

.PL h2 {
  color: black;
  padding-left: 20px;
}
.PL h3 {
  color: white;
  padding-left: 30px;
}

.COS h2 {
  color: black;
  padding-left: 20px;
}

.VCS h2 {
  color: black;
  padding-left: 20px;
}
.VCS h3 {
  color: white;
  padding-left: 30px;
}
.COS h3 {
  color: white;
  padding-left: 30px;
}

.SP h2 {
  color: black;
  padding-left: 20px;
}
.SP h3 {
  color: white;
  padding-left: 30px;
}

.button {
  margin: 20px;
  width: 80px;
  height: 5vh;
  color: white;
  font-size: 15px;
  font-family: initial;
  background-color: black;
  border-radius: 20px;
  border: 1px solid black;
}
